@import '~antd/dist/antd.css';

div#root {
    height: 100%;
}

::-webkit-scrollbar {
    width: 0px;  /* remove scrollbar space */
    background: transparent;  /* optional: just make scrollbar invisible */
}
/* optional: show position indicator in red */
::-webkit-scrollbar-thumb {
    background: #000000;
}

.scenario-input{
    color: blue;
    margin-left: 2px
}

.tooltip {
    position: relative;
    width: 500px
    /* display: inline-block; */
    /* border-bottom: 1px dotted black; */
}
  
.tooltip .tooltiptext {
    visibility: hidden;
    width: auto;
    background-color: black;
    color: #fff;
    text-align: center;
    border-radius: 6px;
    padding: 5px 0;

    /* Position the tooltip */
    position: absolute;
    z-index: 1;
    bottom: 100%;
    left: 0%;
    margin-left: 0px;
}
  
.tooltip:hover .tooltiptext {
    visibility: visible;
}